.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-block-start: 410px;
    min-block-size: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0;
    min-block-size: 767px;
  }
}

.footer__text {
  color: var(--accent-title-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media screen and (min-width: 768px) {
  .footer__text {
    margin-block-end: 410px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media screen and (min-width: 1024px) {
  .footer__text {
    margin: 0;
    padding: 0;
  }
}
