.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: calc(100% - 20px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .page {
    inline-size: calc(100% - 40px);
  }
}

.accented-link {
  color: var(--secondary-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accented-link:hover {
  border-bottom: 1px solid var(--text-color);
  padding: 0;
}

.accented-link:focus {
  outline: none;
}

.accented-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.title-decor {
  color: var(--accent-color-background);
  font-weight: bold;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--corner-decor-color);
  border-right: 1px solid var(--corner-decor-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--corner-decor-color);
  border-left: 1px solid var(--corner-decor-color);
  inline-size: 25px;
  block-size: 25px;
}

@media screen and (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 0;
  }
}