.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
  justify-items: end;
  align-items: center;
  margin-block-end: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 40px;
  display: var(--rec-display);
  align-items: center;
  gap: 10px;
  color: var(--rec-decor-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 45px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-decor-color);
  background-color: var(--rec-decor-color);
  inline-size: 9px;
  block-size: 9px;
}

@media screen and (min-width: 768px) {
  .header__rec {
    top: 20px;
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header__theme-menu {
    margin-block-start: 192px;
    margin-block-end: 175px;
  }
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin: 20px 0;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 12px;
  color: var(--menu-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--link-underline-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--accent-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media screen and (min-width: 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    margin-block-start: 90px;
    margin-block-end: 90px;
  }
}

.header__text {
  align-self: center;
  max-width: 491px;
}

@media screen and (min-width: 768px) {
  .header__text {
    margin-block-start: -20px;
    margin-inline-start: 365px;
  }
}

@media screen and (min-width: 1024px) {
  .header__text {
    margin-inline-start: 493px;
    margin-block-start: 0;
    margin-block-end: 114px;
  }
}
